@{
    ViewData["Title"] = "Home Page";
}
<div class="overlay">
    <div class="text-center home-background">
        <h1 class="display-4 slide-up-fade">Welcome To CSV File Saver</h1>
        @* <p class="typewriter-delayed">Learn about <a href="https://learn.microsoft.com/aspnet/core" style="color: lightblue;">building Web apps with ASP.NET Core</a>.</p> *@
        
        <p class="paragraph">This web application allows you to upload and save CSV files directly into a database by converting each row into a record.
            It streamlines data entry, reduces manual work, and helps automate repetitive tasks—saving you time and effort in managing structured data.</p>
    </div>
</div>

